<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="theme.css" />
    <title>theme</title>
  </head>
  <body>
    <ul class="sidebar">
      <li>
        <a href="#">
          first item
        </a>
      </li>
      <li>
        <a href="#">
          second item
        </a>
      </li>
      <li>
        <a href="#">
          third item
        </a>
      </li>
      <li>
        <a href="#">
          fourth item
        </a>
      </li>
      <li>
        <a href="#">
          fith item
        </a>
      </li>
    </ul>
  </body>
</html>
