{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "es2019",
    // "react",
    // "stage-0"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-throw-expressions"
  ]
}
