* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
section,
article,
footer {
  background-color: #222;
}
blockquote,
h1,
h2 {
  padding: 1rem;
}
.header-content h1 {
  margin-bottom: 1.5rem;
  color: #fff;
}
.header-content blockquote {
  font-size: 1.4rem;
  font-style: italic;
  color: #fff;
}
article h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #fff;
  text-align: center;
  border: 0.5px solid #fff;
  font-weight: normal;
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  border: 0.5px solid #fff;
}

header {
  height: 100vh;
  max-width: 960px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
}
video {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}
.full-screen-video,
.full-screen-video:after {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.full-screen-video {
  z-index: -5;
  opacity: 0.85;
}
.full-screen-video:after {
  content: '';
  z-index: 5;
  opacity: 1;
}

img {
  width: 100%;
  height: 320px;
  display: inline;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.3rem;
}

@media (max-width: 680px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.8rem;
  }
  .header-content blockquote {
    font-size: 1.5rem;
  }
  .header-content h1 {
    font-size: 1.7rem;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 1.3rem;
  }
  footer {
    font-size: 1.2rem;
  }
}
@media (max-width: 540px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
  }
  .header-content blockquote {
    font-size: 1.3rem;
  }
  .header-content h1 {
    font-size: 1.6rem;
    margin-bottom: 0;
  }
  h2 {
    font-size: 1.2rem;
  }
  footer {
    font-size: 1.1rem;
  }
}
